@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Manrope", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form {
  width: 500px;
  height: 575px;
  padding: 24px;
  gap: 4px;
  background: #f0f4fc;
  display: flex;
  flex-direction: column;
}
.form-container {
  width: 100%;
  height: 471px;
  padding: 0px;
  gap: 18px;
  display: flex;
  flex-direction: column;
}
.form-container__title {
  width: 189px;
  height: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #323232;
}
.functional {
  width: 100%;
  height: 420px;
  gap: 36px;
  display: flex;
  flex-direction: column;
}
.data {
  width: 100%;
  height: 250px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputs {
  width: 100%;
  height: 150px;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
.inputs__email,
.inputs__password {
  width: 100%;
  height: 73px;
  padding: 24px;
  border-radius: 10px;
  background: #d7e2f6;
  cursor: pointer;
}
.modal-button,
.inputs__email,
.inputs__password,
.inputs__email::placeholder,
.inputs__password::placeholder {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #1f4284;
}
.checkbox {
  width: 197px;
  height: 25px;
  gap: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox__area {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 2px solid #323232;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.checkbox__area:checked::after {
  content: "";
  display: block;
  width: 4px;
  height: 6px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.data__link {
  width: 136px;
  height: 27px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #244c98;
  cursor: pointer;
}
.buttons {
  width: 100%;
  height: 134px;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
.modal-button,
.buttons__sign-in,
.buttons__registration {
  width: 100%;
  height: 65px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  color: #ffffff;
  padding: 18px 12px;
  border-radius: 4px;
  background: #244c98;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons__registration {
  border: 1px solid #244c98;
  background: none;
  color: #244c98;
}
.modal-button {
  width: 250px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__content {
  width: 548px;
  height: 650px;
  padding: 24px;
  background-color: #f0f4fc;
  margin: 5% auto;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.close__button {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
}
.close__button:hover,
.close__button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.container {
  width: calc(100% - 80px);
  height: 455px;
  margin: 36px 40px;
  border-radius: 10px;
  background: #ebf0fa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: 538px;
  height: 251px;
  gap: 36px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}
.content__box {
  width: 511px;
  height: 147px;
  gap: 18px;
  display: flex;
  flex-direction: column;
}
.content__title {
  width: 195px;
  height: 48px;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #1f4284;
  font-style: normal;
}
.content__text {
  width: 511px;
  height: 81px;
  font-size: 17px;
  font-weight: 400;
  line-height: 27.2px;
  text-align: left;
  color: #727272;
  font-style: normal;
}
.button {
  width: 341px;
  height: 68px;
  padding: 12px 12px 12px 24px;
  gap: 64px;
  border-radius: 60px;
  background: #244c98;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.button__text {
  width: 197px;
  height: 29px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  white-space: nowrap;
}
.container__image {
  width: calc(50% - 20px);
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 1440px) {
  .content {
    height: 245px;
  }
  .content__title {
    width: 169px;
    height: 42px;
    font-size: 26px;
    line-height: 41.6px;
  }
  .container__image {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 48px);
    height: 586px;
    margin: 24px;
    flex-direction: column;
  }
  .content {
    width: 100%;
    height: 202px;
    padding: 24px 24px 0px 24px;
    gap: 24px;
    margin-left: 0;
    align-items: flex-start;
  }
  .content__box {
    width: 100%;
    height: 98px;
    align-items: flex-start;
  }
  .content__title {
    width: 100%;
    height: 32px;
    font-size: 20px;
    line-height: 32px;
  }
  .content__text {
    width: 100%;
    height: 48px;
    font-size: 15px;
    line-height: 24px;
  }
  .button {
    width: 261px;
    height: 56px;
    padding: 10px 10px 10px 18px;
  }
  .button__text {
    width: 133px;
    height: 24px;
    font-size: 15px;
    line-height: 24px;
  }
  .button__icon {
    width: 36px;
    height: 36px;
  }
  .container__image {
    width: 100%;
    height: 360px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    height: 482px;
    margin: 14px 24px;
    gap: 18px;
  }
  .content {
    height: 244px;
    gap: 18px;
  }
  .content__box {
    height: 146px;
    gap: 14px;
  }
  .content__title {
    height: 27px;
    font-size: 17px;
    line-height: 27.2px;
  }
  .content__text {
    height: 105px;
    font-size: 13px;
    line-height: 20.8px;
  }
  .button {
    width: 100%;
    justify-content: space-between;
  }
  .container__image {
    height: 220px;
  }
}
